//--BANNER ONE--//
.bannerOne {
  &__container {
    gap: 2.5rem;
    background-color: var(--first-color-light);
    padding: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__item {
    border: 3px dashed var(--first-color);
    padding: var(--m-2);
    display: grid;
    place-items: center;
  }

  &__item-2 {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: #000;
    margin-bottom: var(--m-0-5);
  }

  &__subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
  }
}
